version: '3.8'

name: keycloak

services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: ${KEYCLOAK_POSTGRES_PASSWORD}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres']
      interval: 5s
      timeout: 5s
      retries: 5

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    ports:
      - '${KEYCLOAK_PORT}:8080'
    environment:
      DB_VENDOR: postgresql
      DB_ADDR: postgres:5432
      DB_DATABASE: keycloak
      DB_USERNAME: keycloak
      DB_PASSWORD: ${KEYCLOAK_POSTGRES_PASSWORD}
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    command: start --proxy-headers forwarded --proxy edge --hostname ${KEYCLOAK_HOSTNAME} --hostname-admin ${KEYCLOAK_ADMIN_HOSTNAME}
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres-data:
    external: false
